.App {
  margin: 16px 0;
}

.container {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.inline-radios {
  display: flex;
  margin-bottom: 16px;
}

.inline-radio {
  display: flex;
}

.inline-radio label {
  order: 1;
  padding-right: 8px;
  cursor: pointer;
}

.inline-radio input {
  order: 2;
  cursor: pointer;
}

.inline-radio input:checked + label {
  color: blue;
}

.inline-radio + .inline-radio {
  margin-left: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 32px;
  width: 100%;
}

textarea::placeholder {
  color: #bbb;
}

code {
  display: inline-block;
  font-size: 90%;
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}

.see-on-github a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.7;
}

.see-on-github a:hover {
  opacity: 1;
}

.see-on-github svg {
  margin-right: 8px;
  width: 20px;
}

.see-on-github .text {
  color: blue;
  border-bottom: 2px solid blue;
}
