.App {
  margin: 16px 0;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.inline-radios {
  display: flex;
  margin-bottom: 16px;
}

.inline-radio {
  display: flex;
}

.inline-radio label {
  order: 1;
  padding-right: 8px;
  cursor: pointer;
}

.inline-radio input {
  order: 2;
  cursor: pointer;
}

.inline-radio input:checked + label {
  color: blue;
}

.inline-radio + .inline-radio {
  margin-left: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  padding: 8px;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 32px;
}

code {
  display: inline-block;
  font-size: 90%;
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}
