.App {
  margin: 16px 0;
}

.container {
  display: flex;
  box-sizing: border-box;
  max-width: 1100px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.inline-radios {
  display: flex;
}

.inline-radio {
  display: flex;
}

.inline-radio label {
  order: 1;
  padding-right: 8px;
  cursor: pointer;
}

.inline-radio input {
  order: 2;
  cursor: pointer;
}

.inline-radio input:checked + label {
  color: blue;
}

.inline-radio + .inline-radio {
  margin-left: 16px;
}

.inline-radios,
.settings-label {
  height: 26px;
  margin-bottom: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 32px;
  width: 100%;
}

textarea.has-error {
  border: 2px solid #f00;
  color: #f00;
}

textarea::placeholder {
  color: #bbb;
}

code {
  display: inline-block;
  font-size: 90%;
  padding: 3px;
  background: #eee;
  border-radius: 3px;
}

.options {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.input-output {
  width: 600px;
  flex: 0 0 600px;
  padding: 16px;
}

.input-output > * {
  margin: 16px;
}

.input-output > :first-child {
  margin-top: 0;
}

.input-output > :last-child {
  margin-top: 0;
}

.input,
.output {
  display: flex;
  flex-direction: column;
}

.input textarea,
.output textarea {
  flex: 1 0 auto;
  resize: none;
  margin: 0;
}

.libraries.is-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.section-title {
  margin-bottom: 8px;
}

.section-title ~ .section-title {
  margin-top: 8px;
}

.library {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.library input {
  margin-right: 4px;
}

.library + .library {
  margin-top: 4px;
}

.option input {
  margin-right: 4px;
}

.see-on-github a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  opacity: 0.7;
}

.see-on-github a:hover {
  opacity: 1;
}

.see-on-github svg {
  margin-right: 8px;
  width: 20px;
}

.see-on-github .text {
  color: blue;
  border-bottom: 2px solid blue;
}
